<h1>Create New QR Code</h1>

<p>
  <%= link_to "← Back to QR Codes list", admin_qr_codes_path, style: "display:inline-block; padding: 6px 14px; background:#eee; color:#333; border-radius:4px; text-decoration:none; font-size:14px;" %>
</p>

<hr>

<%= render "form" %>